@keyframes blink {
    0% { color: red; }
    50% { color: transparent; }
    100% { color: red; }
}


  body {
    color: #022A44 !important;
    /* font-family: 'Sailec', sans-serif !important; */

    }
  header {
        color: #022A44 !important;
    }
    .custom-button-link {
        text-decoration: none; /* Remove underline */
        color: initial; /* Use default text color */
    }
    .custom-button-link:hover {
        color: initial; /* Use default text color on hover */
    }
    .col-auto .h5 {
        color: black; /* Use default text color for h5 elements inside col-auto */
    }

    /* Change the dark-themed sidebar background color to blue */
    .sidebar-dark-primary {
        background-color: #001f3f !important;
    }

    /* If you want to change the light-themed sidebar as well, use this */
    /* .sidebar-light-primary {
        background-color: #022A44 !important;
    } */
    /* .card {
        background-color: #ffffff !important;
    }*/
    /* .content-wrapper {
        background-color: #f3f4f6 !important;
    } */
    /* .btn-primary{
        background-color: #022A44 !important;
    } */
    .float-button {
        position: fixed;
        bottom: 25px;
        right: 25px;
        z-index: 1000; /* Ensure it appears above other content */
        opacity: 0.8;
    }

    .custom-btn {
        width: 60px; /* Adjust width as needed */
        height: 60px; /* Adjust height as needed */
        font-size: 26px; /* Adjust font size as needed */
        transition: all 0.3s ease; /* Smooth transition effect */
    }

    /* Hover effect */
    .custom-btn:hover {
        transform: scale(1.1); /* Scale up the button */
        opacity: 1; /* Change opacity to fully visible */
    }
    
    .modal-body {
        max-height: 80vh; /* Adjust the max-height as needed */
        overflow-y: auto;
    }
    .float-button button {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 3); /* Example shadow effect */
    }
    
    
            
